body{
  height: 8000px;
  background-color: whitesmoke;
}
.colorpicker-container{
  position: sticky;
  top: 20px;
  left:20px;
}
.library-row{
  padding: 50px 0;
  justify-content: center;
  text-transform: uppercase;
}
.library-col{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.library-h2{
  text-align: center;
  margin-bottom: 3rem;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
